.cont{ width: 100%; margin: 0 auto 0 auto; text-align: left;}

.contenido{ width: 300px;  border:1px solid #000;}
.menu{ width: 300px; text-transform: uppercase;border:1px solid #000;}


.fiche{
    margin-left: 0px !important;
margin-right: 0px !important;
margin-top: -16px !important;
}

.Inicio {
font-family: Roboto !important;
font-size: 22px;
font-weight: 300;
font-style: normal;
font-stretch: normal;
line-height: 1.45;
letter-spacing: 0.6px;
color: #0a4d7c;
float:left;
margin-top:48px;
margin-left:16px;
width: 56px;
height: 32px;
}


.Rectangle-5 {
width: 100%;
height: 904px;
opacity: 0.99;
background-color: #f9f9f9;
}

.Rectangle-11 {
  width: 128px;
  height: 32px;
  border-radius: 3px;
  float:right;
  border: solid 1px #b10053;
  margin-top:48px;
  margin-right:16px;
  background-color: #ffffff;
}

.Comenzar {
  width: 72px;
  height: 16px;
  /*margin-left:16px;
  margin-top:5px;*/
  font-family: Roboto !important;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b10053;
}

.layer {
  width: 16px;
  height: 16px;
  font-family: Roboto !important;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.Group-9 {
  
  height: 32px;
  width: 32px;
  object-fit: contain;
  float:right;
  margin-top:48px;
  margin-right:16px;
}
.Group-9 img {
    width: 24px;
    height: 24px;
    margin-top: 4px;
}

.Line {
  width: 100%;
  height: 1px;
  border: solid 1px #eaeaea;
}

.div_line{
  float:left;
  width: 98%;
  margin-top:0px;
  margin-left:8px;
}

.div_line_list{
  float:left;
  width: 98%;
  margin-top:-10px;
  margin-left:8px;
}

.div_list_img{
  float:left;
  margin-left:8px;
  height: 90px;
  width:120px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.img_list_center{
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.div_list_text{
  float:left;
  margin-left:0px;
  height: 90px;
  
  width:280px;
}

.title_list{
  width: 208px;
  height: 16px;
  font-family: Roboto !important;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0a4d7c;
}

.description_list {
  width: 384px;
  height: 16px;
  font-family: Roboto !important;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #9b9b9b;
}

.div_list_link{
  
  float:right;
  margin-right:16px;
  height: 90px;
  width:600px;
 
}

.div_list_link_item{
    float:right;
  margin-right:15px;
  margin-top:30px;
  border-left: solid 1px #eaeaea;
}

.div_list_link_item a{
  height: 32px;
  font-family: Roboto !important;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.29;
  letter-spacing: normal;
  text-align: center;
  color: #b10053;
  margin-left:15px;
}

.divider2 {
  width: 2px;
  height: 32px;
  border: solid 1px #eaeaea;
}


.cabecera_modal_init{
  float:left;
  margin-left:64px;
  margin-top:56px;
  height: 40px;
  width:400px;
}

.cabecera_modal_circle_progress{
  float:right;
  margin-right:72px;
  margin-top:56px;
  height: 40px;
  width:40px;
}

.div_line_modal{
  float:left;
  margin-left:64px;
  margin-top:23px;
  width: 700px;
  height: 3px;
}

.div_line_modal_correo{
  float:left;
  margin-left:64px;
  margin-top:22px;
  width: 224px;
  height: 144px;
  border-radius: 3px;
  border: solid 1px #eaeaea;
}

.div_line_modal_correo_active{
  float:left;
  margin-left:64px;
  margin-top:22px;
  width: 224px;
  height: 144px;
  border-radius: 3px;
  border: solid 1px #0a4d7c;
}

.div_icon_modal_correo{
  float:left;
  margin-left:10px;
  margin-top:10px;
  width: 12px;
  height: 95px;
  
}
.div_text_modal_correo{
  float:left;
  margin-left:10px;
  margin-top:10px;
  width: 184px;
  height: 95px;
  
}

.div_divider_modal_correo{
  float:left;
  margin-left:-1px;
  margin-top:-6px;
  width: 224px;
  height: 1px;
}

.div_status_modal_correo{
  float:left;
  margin-left:-1px;
  margin-top:6px;
  width: 224px;
  height: 30px;
  
}

.text_status_modal_inactive{
  font-family: Roboto !important;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #cccccc;
}

.text_status_modal_active{
  font-family: Roboto !important;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #549805;
}

.modal_title_1{
  font-family: Roboto !important;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #0a4d7c;
}

.modal_title_1:hover{
  cursor: pointer;
}


.modal_title_2{
  font-family: Roboto !important;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #9b9b9b;
}


.Line3{
  width: 100%;
  height: 1px;
  border: solid 1px #eaeaea;
}

.Line3_active{
  width: 100%;
  height: 1px;
  border: solid 1px #0a4d7c;
}

.div_line_modal_empresa{
  float:left;
  margin-left:16px;
  margin-top:22px;
  width: 224px;
  height: 144px;
  border-radius: 3px;
  border: solid 1px #eaeaea;
}

.div_line_modal_empresa_active{
  float:left;
  margin-left:16px;
  margin-top:22px;
  width: 224px;
  height: 144px;
  border-radius: 3px;
  border: solid 1px #0a4d7c;
}

.div_line_modal_equipo{
  float:left;
  margin-left:16px;
  margin-top:22px;
  width: 224px;
  height: 144px;
  border-radius: 3px;
  border: solid 1px #eaeaea;
}

.div_line_modal_equipo_active{
  float:left;
  margin-left:16px;
  margin-top:22px;
  width: 224px;
  height: 144px;
  border-radius: 3px;
  border: solid 1px #0a4d7c;
}

.text_modal_init_title{
  font-family: Roboto!important;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #0a4d7c;
}

.text_modal_init_subtitle{
  font-family: Roboto !important;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #9b9b9b;
}

.div_title_modal_help{
  float:left;
  margin-left:56px;
  margin-top:56px;
  margin-right: 56px;
  width: 592px;
  height: 24px;
  /*border: 1px solid;*/
}

.title_modal_help{
    font-family: Roboto !important;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #0a4d7c;
}

.item1_modal_help{
  float:left;
  margin-left:56px;
  margin-top:40px;
  width: 160px;
  height: 160px;
  border-radius: 3px;
  border: solid 1px #eaeaea;
}

.item1_modal_help:hover{
  float:left;
  cursor: pointer;
  margin-left:56px;
  margin-top:40px;
  width: 160px;
  height: 160px;
  border-radius: 3px;
  background-color: #f9f9f9;
  border: solid 1px #0a4d7c;
}


.img_help_modal_1{
  float:left;
  margin-left:60px;
  margin-top:24px;
  width: 41px;
  height: 56px;
}

.img_help_modal_2{
  float:left;
  margin-left:53px;
  margin-top:32px;
  width: 54px;
  height: 40px;
}

.img_help_modal_3{
  float:left;
  margin-left:56px;
  margin-top:24px;
  width: 49px;
  height: 48px;
}

.box_help_modal{
  float:left;
  margin-left:8px;
  margin-top:24px;
  width: 144px;
  height: 48px;
}
.text_box_help_modal{
    font-family: Roboto !important;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

.blue_circle{
-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
